@charset "UTF-8";

* {
    font-family: 'Cabin', sans-serif;
    image-rendering: pixelated;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color : inherit;
    text-decoration : none;
}

.flexcont{
    display: flex;
      flex-wrap: wrap;
    justify-content: center;
}

body {
    width: 100%;
    height: 100%;
    background: url(img/papp.gif);
    background-size: cover;

}
.wrap{
    width: 100%;
/*    height: 100vh;*/
    margin: 0 auto;
    background: #A13D8C;
    border: solid 5px #fff;
    padding-bottom: 50px;
}
.top_wrap{
    width: auto;
    height: 100vh;
    margin: 0 auto;
    background: url(img/fffr.gif);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    border: solid 5px #fff;

}
    @media (min-width: 1000px){
    .top_wrap,.wrap{
        width: 60%;
    }
}
img {
    -webkit-backface-visibility: hidden;
}


.name {
    width: 70%;
    font-size: 4em;
    margin-bottom: 10px;
    color: #fff;
}


nav h2 {
    font-size: 3em;
    color: #fff;
    margin: 0.2em;
     
}

.top_nav h2{
    font-size: 3em;
}
    @media (min-width: 1000px)
{
    .name{
        font-size: 4em;
        
    }
    .top_nav h2{
         font-size: 3em;
    }
    
}
/*myworks*/
.works_innerbox{
    width: 90%;
    min-width :350px;
    height: 500px;
    background: #fff;
    margin: 0 auto;
    padding-bottom: 50px;
}

.works_subtitle{
    text-align: center;
    font-size: 3em;
    color: #fff;
}

.works_img{
    text-align: center;
}

.works_img img{
    width: 60%;
   
}

.works_introduction{
    margin: 20px;
}