@charset "UTF-8";

* {
    font-family: 'Cabin', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    color: inherit;
    text-decoration: none;
}

.flexcont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    width: 100%;
    height: 100%;
    background: url(img/papp2.gif);
    background-size: cover;
    image-rendering: pixelated;
}

.wrap {
    width: 100%;
    /*    height: 100vh;*/
    margin: 0 auto;
    background: #FFCFAB;
    border: solid 1px #01516C;
    padding-bottom: 50px;
    overflow: hidden;
    image-rendering: auto;
}

.top_wrap {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: url(img/fffr.gif);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    border: solid 1px #01516C;
    image-rendering: pixelated;
}

@media (min-width: 1000px) {

    .top_wrap,
    .wrap {
        width: 60%;
    }
}

img {
    -webkit-backface-visibility: hidden;
}


.name {
    width: 70%;
    font-size: 4em;
    background: #01516C;
    margin-bottom: 10px;
    color: #FFCFAB;
}


nav h2 {
    font-size: 3em;
    color: #01516C;
    margin: 0.2em;

}

.top_nav h2 {
    font-size: 3em;
}

@media (min-width: 1200px) {
    .name {
        font-size: 6em;

    }

    .top_nav h2 {
        font-size: 5em;
    }

}

/*About*/
.intro_box {
    margin: 0 auto;
    width: 40%;
}

.image_me {
    margin: auto
}

.image_me img {
    max-width: 100%;
}

@media (max-width: 1200px) {
    .intro_box {
        width: 80%;
    }

    .image_me {
        width: 50%;
        padding: 0 auto;
    }

    /*myworks*/
    .works_innerbox {
        width: 95%;
        /*    min-width :350px;*/

        background: #FFCFAB;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .works_subtitle {
        text-align: center;
        font-size: 3em;
        color: #01516C;
        font-weight: bold;
    }

    .works_img {
        text-align: center;

    }

    .works_img img {
        width: 95%;
        image-rendering: auto;
    }

    .works_introduction {
        margin: 20px auto;
        width: 60%;
    }

    .works_introduction dl {
        padding: 20px 0;
    }

    .works_introduction dt,
    dd {
        text-align: left;
        word-wrap: break-word;
    }

    .works_introduction .textdeco {
        background: #ccc;
    }

    /*skills*/
    .skills_box {
        display: flex;
        background: #FFCFAB;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }


    .skills_innerbox {
        background: fff;

        width: 80%;
        min-width: 50%;
        text-align: center;
    }


    .skills_imgbox {
        width: 15%;
        height: 100px;
    }

    .skillbar {
        text-align: left;
        position: relative;
        display: inline-block;
        margin: 15px 0;
        width: 100%;
        background: #eee;
        height: 20px;
        border-radius: 3px;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12) inset;
    }

    .skillbar-title {
        position: absolute;
        top: 0;
        left: 0;
        font-weight: bold;
        font-size: 13px;
        color: #ffffff;
        background: #6adcfa;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        background: rgba(0, 0, 0, 0.1);
        padding: 0 20px;
        height: 20px;
        line-height: 20px;
    }

    .skillbar-bar {
        height: 20px;
        margin: 0 20px;
        width: 0px;
        background: #6adcfa;
        border-radius: 3px;
        display: inline-block;
    }

    .skill-bar-percent {
        position: absolute;
        right: 10px;
        top: 0;
        font-size: 11px;
        height: 20px;
        line-height: 20px;
        color: #ffffff;
        color: rgba(0, 0, 0, 0.4);
    }

    .skillbar-html .skillbar-title {
        background: #d35400;
    }

    .skillbar-html .skillbar-bar {
        background: #e67e22;
    }

    .skillbar-css .skillbar-title {
        background: #0C73B8;
    }

    .skillbar-css .skillbar-bar {
        background: #268DD2;
    }

    .skillbar-js .skillbar-title {
        background: #E5A228;
    }

    .skillbar-js .skillbar-bar {
        background: #FEBB42;
    }

    @media (min-width: 1200px) {
        .skills_innerbox {
            width: 50%;
        }

        .skillbar {
            width: 90%;
        }
    }

    /*contact*/
    .Contact_box {
        text-align: center;
        background: #FFCFAB;
    }

    .form_inner {
        position: relative;
        width: 100%;
        height: 800px;
        overflow-y: scroll;
    }

    .form_inner iframe {
        image-rendering: pixelated;
        background-image: url(contact/img/papp.gif);
        background-repeat: no-repeat;
        background-size: 150%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
